name: Cypress Tests

on:
  workflow_dispatch:
    inputs:
      spec:
        description: Spec pattern (optional)
        default: cypress/e2e/**/*.cy.js

jobs:
  cypress-electron-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Get code
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: npm

      - name: Cypress run (Electron)
        uses: cypress-io/github-action@v6
        with:
          install-command: npm ci
          browser: electron
          spec: ${{ github.event.inputs.spec }}
