name: Cypress Cloud

on:
  workflow_dispatch:
    inputs:
      spec:
        description: Spec pattern
        default: cypress/e2e/**/*.cy.js

jobs:
  cypress:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        browser: [electron, chrome, firefox]

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: npm

      - name: Cypress run
        uses: cypress-io/github-action@v6
        with:
          install-command: npm ci
          browser: ${{ matrix.browser }}
          record: true
          group: UI ${{ matrix.browser }}
          spec: ${{ github.event.inputs.spec }}
        env:
          CYPRESS_RECORD_KEY: ${{ secrets.CYPRESS_RECORD_KEY }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

